/*
Theme Name: Creatives
Author: Patrick Daly
Description: Custom.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: light, gray, white, one-column, two-columns, right-sidebar, flexible-width, custom-background, custom-header, custom-menu, editor-style, featured-images, flexible-header, full-width-template, microformats, post-formats, rtl-language-support, sticky-post, theme-options, translation-ready
Text Domain: creatives
Template: twentytwelve

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

* {
	outline: none;
}

body.logged-in {
	top: 28px;
}

#site-navigation form {
	margin: 0;
	padding: 0;
}
.menu-toggle {
	display: inline-block;
}
#main {
	margin-top: 50px;
}

figure.card {
	margin: 0;
	padding: 0;
}

/* =Media queries
-------------------------------------------------------------- */

/* Minimum width of 600 pixels. */
@media screen and (min-width: 600px) {
	.menu-toggle {
		display: none;
	}
}

/* Minimum width of 960 pixels. */
@media screen and (min-width: 960px) {

}


/* =Print
----------------------------------------------- */

@media print {

}

/* Assistive text */
.skip-link,
.screen-reader-text,
.assistive-text {
	position: absolute !important;
	clip: rect(1px, 1px, 1px, 1px);
}

/* =IE 7 and 8
----------------------------------------------- */

.ie .skip-link,
.ie .screen-reader-text,
.ie .assistive-text {
	clip: rect(1px 1px 1px 1px); /* IE7 */
}
.ie .site {
	margin: 48px auto;
	max-width: 960px;
}
.ie .site-content {
	float: left;
	width: 65.104166667%;
}
.ie .full-width .site-content {
	float: none;
	width: 100%;
}
.ie .widget-area {
	float: right;
	width: 26.041666667%;
}
.ie img.size-full,
.ie img.size-large,
.ie img.header-image,
.ie img.wp-post-image {
	width: auto; /* Prevent stretching of full-size and large-size images with height and width attributes in IE8 */
}