/*
 Theme Name: Creatives
 Author: Patrick Daly
 Description: Custom.
 Version: 1.0
 License: GNU General Public License v2 or later
 License URI: http://www.gnu.org/licenses/gpl-2.0.html
 Tags: light, gray, white, one-column, two-columns, right-sidebar,
 * flexible-width, custom-background, custom-header, custom-menu, editor-style,
 * featured-images, flexible-header, full-width-template, microformats,
 * post-formats, rtl-language-support, sticky-post, theme-options,
 * translation-ready
 Text Domain: creatives
 Template: twentytwelve

 This theme, like WordPress, is licensed under the GPL.
 Use it to make something cool, have fun, and share what you've learned with
 * others.
 */

@font-face {
    font-family: 'ArvoRegular';
    src: url('fonts/Arvo-Regular-webfont.eot');
    src: url('fonts/Arvo-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Arvo-Regular-webfont.woff') format('woff'),
         url('fonts/Arvo-Regular-webfont.ttf') format('truetype'),
         url('fonts/Arvo-Regular-webfont.svg#ArvoRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ArvoItalic';
    src: url('fonts/Arvo-Italic-webfont.eot');
    src: url('fonts/Arvo-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Arvo-Italic-webfont.woff') format('woff'),
         url('fonts/Arvo-Italic-webfont.ttf') format('truetype'),
         url('fonts/Arvo-Italic-webfont.svg#ArvoItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ArvoBold';
    src: url('fonts/Arvo-Bold-webfont.eot');
    src: url('fonts/Arvo-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Arvo-Bold-webfont.woff') format('woff'),
         url('fonts/Arvo-Bold-webfont.ttf') format('truetype'),
         url('fonts/Arvo-Bold-webfont.svg#ArvoBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ArvoBoldItalic';
    src: url('fonts/Arvo-BoldItalic-webfont.eot');
    src: url('fonts/Arvo-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Arvo-BoldItalic-webfont.woff') format('woff'),
         url('fonts/Arvo-BoldItalic-webfont.ttf') format('truetype'),
         url('fonts/Arvo-BoldItalic-webfont.svg#ArvoBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

* {
	outline: none;
}

ul li {
	list-style-type: none;
}

html.js {
    margin-top: 0 !important;
}

body {
    font-family: "ArvoRegular";
    letter-spacing: -1px;
}
strong {
    font-family: "ArvoBold";
}

.brand {
    letter-spacing: 0;
    font-weight: 300;
    text-transform: uppercase;
    word-spacing: -3px;
}
.brand strong {
    font-weight: 400;
}

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

/**** Isotope filtering ****/
.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

#site-navigation {
	margin: 0;
	padding: 0;
}
.menu-toggle {
	display: inline-block;
}
#main {
	margin-top: 20px;
}

figure {
	margin: 0;
	padding: 0;
}

#the-creatives {
    margin: 0;
    padding: 0;
}
.item {
	background: #eee;
	border-radius: 4px;
	border-top-right-radius: 20px;
	color: #fff;
	float: left;
	height: auto;
	margin: 5px;
	overflow: hidden;
	position: relative;
	min-width: 340px;
	width: 24%;
}
.item .card {
    overflow: hidden;
    position: relative;
}
.item .card .brief {
	width: 100%;
	height: 100%;
	position: relative;
	display: block;
}
.item .card .avatar {
    display: inline-block;
    height: auto;
    max-width: 50%;
    width: 100%;
}
.item.person .card a {
    color: #fff;
}
.item.person .card .fn {
    bottom: 20px;
    left: 0;
    position: absolute;
    text-indent: 55%;
    text-transform: uppercase;
    width: 100%;
}
.item.person .card .given-name {
    display: block;
    font-size: 18px;
}
.item.person .card .family-name {
    display: block;
    font-size: 12px;
}
.item.person .card .primary-job {
    background: rgba(0, 0, 0, .5 );
    bottom: 0;
    left: 0;
    position: absolute;
    text-indent: 55%;
    width: 100%;
}

#sidebar {
    background: none;
}

#sidebar .nav-list a {
    display: inline-block;
}
#sidebar .legend {
    display: inline-block;
    height: 20px;
    width: 20px;
}
.item.illustrator,
.illustrator .legend {
    background-color: rgba(56,146,77,0.8);
}
.item.photographer,
.photographer .legend {
    background-color: rgba(155,174,59,0.8);
}
.item.programmer,
.programmer .legend {
    background-color: rgba(155,174,59,0.8);
}
.item.film-video,
.film-video .legend {
    background-color: rgba(212,105,54,0.8);
}
.item.writer,
.writer .legend {
    background-color: rgba(212,105,54,0.8);
}
.item.web-designer,
.web-designer .legend {
    background-color: rgba(49,111,112,0.8);
}
.item.graphic-design,
.graphic-designer .legend {
    background-color: rgba(95,173,179,0.8);
}
.item.fine-art,
.fine-art .legend {
    background-color: rgba(46,93,143,0.8);
}
.item.other,
.other .legend {
    background-color: rgba(139,108,161,0.8);
}

.navbar {
	text-transform: uppercase;
	color: #ffffff;
}

.h3 {
	font-size: 14px;
	color: #ffffff;
	line-height: 2em;
}

.sidebar-nav .nav-list .h3 {
	margin-top: 0px;
}

.sidebar-nav ul li a {
	text-align: left;
	color: #ffffff;
	text-shadow: none;
	text-transform: uppercase;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 14%;
}

.navbar .nav li a {
	color: #666;
	font-size: .8em;
	text-shadow: none;
	padding: 5px 15px 5px;
}

.navbar .nav li a:hover {
	color: #ccc;
}

.navbar-inner {
	min-height: 20px;
	position: relative;
	border: none;
	border-radius: 0;
	box-shadow: none;
	-webkit-box-shadow: none;
}

.navbar-inverse .navbar-inner {
	background-color: #333333;
	background-image: none;
}

.gray-dark {
	background-color: #3A3A3A;
}

.nav-list li {
	margin-bottom: 10px;
}

.nav-list li a {
	color: #eeeeee;
	text-shadow: none;
}

#vcards {
    display: none;
}

/* Dog Ears for separate categories for cards.
-------------------------------------------------------------- */
.dog-ear-top {
	display: block;
	width: 15px;
	height: 15px;
	background: url(img/dog-ear-top.png) no-repeat 0 0;
	position: absolute;
	top: -1px;
	left: -1px;
	z-index: 100000;
}
.dog-ear, .dog-ear-cat-1, .dog-ear-cat-2, .dog-ear-cat-3, .dog-ear-cat-4, .dog-ear-cat-5, .dog-ear-cat-6, .dog-ear-cat-7, .dog-ear-cat-8, .dog-ear-cat-9 {
	display: block;
	width: 15px;
	height: 15px;
	position: absolute;
	right: -1px;
	bottom: -1px;
	z-index: 100000px;
}
.dog-ear {
	background: url(img/dog-ear.png) no-repeat 0 0;
}
.dog-ear-cat-1 {
	background: url(img/dog-ear-cat-1.png) no-repeat 0 0;
}
.dog-ear-cat-2 {
	background: url(img/dog-ear-cat-2.png) no-repeat 0 0;
}
.dog-ear-cat-3 {
	background: url(img/dog-ear-cat-3.png) no-repeat 0 0;
}
.dog-ear-cat-4 {
	background: url(img/dog-ear-cat-4.png) no-repeat 0 0;
}
.dog-ear-cat-5 {
	background: url(img/dog-ear-cat-5.png) no-repeat 0 0;
}
.dog-ear-cat-6 {
	background: url(img/dog-ear-cat-6.png) no-repeat 0 0;
}
.dog-ear-cat-7 {
	background: url(img/dog-ear-cat-7.png) no-repeat 0 0;
}
.dog-ear-cat-8 {
	background: url(img/dog-ear-cat-8.png) no-repeat 0 0;
}
.dog-ear-cat-9 {
	background: url(img/dog-ear-cat-9.png) no-repeat 0 0;
}

/* Categories for the Cards, front and back.
-------------------------------------------------------------- */

.cat-1, .cat-2, .cat-3, .cat-4, .cat-5, .cat-6, .cat-7, .cat-8, .cat-9 {
	color: #fff;
}

/* Colors - Fonts , Backgrounds , Borders
-------------------------------------------------------------- */
/* Background colors - Gradient */

.bg-gradient-1 {
	/* fallback */
  	background-color: #38924D;
  	/* Safari 4-5, Chrome 1-9 */
  	background: -webkit-gradient(linear, left top, right top, from(#38924D), to(#3A3A3A));
	/* Safari 5.1, Chrome 10+ */
  	background: -webkit-linear-gradient(left, #38924D, #3A3A3A);
  	background: -webkit-gradient(linear, 11% 14%, 12% 14%, from(#38924D), to(#3A3A3A));
    /* Firefox 3.6+ */
  	background: -moz-linear-gradient(left, #38924D, #3A3A3A);
    /* IE 10 */
  	background: -ms-linear-gradient(left, #38924D, #3A3A3A);
    /* Opera 11.10+ */
  	background: -o-linear-gradient(left, #38924D, #3A3A3A);
}

.bg-gradient-2 {
	/* fallback */
  	background-color: #9BAE3B;
  	/* Safari 4-5, Chrome 1-9 */
  	background: -webkit-gradient(linear, left top, right top, from(#9BAE3B), to(#3A3A3A));
	/* Safari 5.1, Chrome 10+ */
  	background: -webkit-linear-gradient(left, #9BAE3B, #3A3A3A);
  	background: -webkit-gradient(linear, 11% 14%, 12% 14%, from(#9BAE3B), to(#3A3A3A));
    /* Firefox 3.6+ */
  	background: -moz-linear-gradient(left, #9BAE3B, #3A3A3A);
    /* IE 10 */
  	background: -ms-linear-gradient(left, #9BAE3B, #3A3A3A);
    /* Opera 11.10+ */
  	background: -o-linear-gradient(left, #9BAE3B, #3A3A3A);
}
.bg-gradient-3 {
	/* fallback */
  	background-color: #daaf3c;
  	/* Safari 4-5, Chrome 1-9 */
  	background: -webkit-gradient(linear, left top, right top, from(#daaf3c), to(#3A3A3A));
	/* Safari 5.1, Chrome 10+ */
  	background: -webkit-linear-gradient(left, #daaf3c, #3A3A3A);
  	background: -webkit-gradient(linear, 11% 14%, 12% 14%, from(#daaf3c), to(#3A3A3A));
    /* Firefox 3.6+ */
  	background: -moz-linear-gradient(left, #daaf3c, #3A3A3A);
    /* IE 10 */
  	background: -ms-linear-gradient(left, #daaf3c, #3A3A3A);
    /* Opera 11.10+ */
  	background: -o-linear-gradient(left, #daaf3c, #3A3A3A);
}
.bg-gradient-4 {
	/* fallback */
  	background-color: #D46936;
  	/* Safari 4-5, Chrome 1-9 */
  	background: -webkit-gradient(linear, left top, right top, from(#D46936), to(#3A3A3A));
	/* Safari 5.1, Chrome 10+ */
  	background: -webkit-linear-gradient(left, #D46936, #3A3A3A);
  	background: -webkit-gradient(linear, 11% 14%, 12% 14%, from(#D46936), to(#3A3A3A));
    /* Firefox 3.6+ */
  	background: -moz-linear-gradient(left, #D46936, #3A3A3A);
    /* IE 10 */
  	background: -ms-linear-gradient(left, #D46936, #3A3A3A);
    /* Opera 11.10+ */
  	background: -o-linear-gradient(left, #D46936, #3A3A3A);
}
.bg-gradient-5 {
	/* fallback */
  	background-color: #CE3C2F;
  	/* Safari 4-5, Chrome 1-9 */
  	background: -webkit-gradient(linear, left top, right top, from(#CE3C2F), to(#3A3A3A));
	/* Safari 5.1, Chrome 10+ */
  	background: -webkit-linear-gradient(left, #CE3C2F, #3A3A3A);
  	background: -webkit-gradient(linear, 11% 14%, 12% 14%, from(#CE3C2F), to(#3A3A3A));
    /* Firefox 3.6+ */
  	background: -moz-linear-gradient(left, #CE3C2F, #3A3A3A);
    /* IE 10 */
  	background: -ms-linear-gradient(left, #CE3C2F, #3A3A3A);
    /* Opera 11.10+ */
  	background: -o-linear-gradient(left, #CE3C2F, #3A3A3A);
}
.bg-gradient-6 {
	/* fallback */
  	background-color: #316F70;
  	/* Safari 4-5, Chrome 1-9 */
  	background: -webkit-gradient(linear, left top, right top, from(#316F70), to(#3A3A3A));
	/* Safari 5.1, Chrome 10+ */
  	background: -webkit-linear-gradient(left, #316F70, #3A3A3A);
  	background: -webkit-gradient(linear, 11% 14%, 12% 14%, from(#316F70), to(#3A3A3A));
    /* Firefox 3.6+ */
  	background: -moz-linear-gradient(left, #316F70, #3A3A3A);
    /* IE 10 */
  	background: -ms-linear-gradient(left, #316F70, #3A3A3A);
    /* Opera 11.10+ */
  	background: -o-linear-gradient(left, #316F70, #3A3A3A);
}
.bg-gradient-7 {
	/* fallback */
  	background-color: #5FADB3;
  	/* Safari 4-5, Chrome 1-9 */
  	background: -webkit-gradient(linear, left top, right top, from(#5FADB3), to(#3A3A3A));
	/* Safari 5.1, Chrome 10+ */
  	background: -webkit-linear-gradient(left, #5FADB3, #3A3A3A);
  	background: -webkit-gradient(linear, 11% 14%, 12% 14%, from(#5FADB3), to(#3A3A3A));
    /* Firefox 3.6+ */
  	background: -moz-linear-gradient(left, #5FADB3, #3A3A3A);
    /* IE 10 */
  	background: -ms-linear-gradient(left, #5FADB3, #3A3A3A);
    /* Opera 11.10+ */
  	background: -o-linear-gradient(left, #5FADB3, #3A3A3A);
}
.bg-gradient-8 {
	/* fallback */
  	background-color: #2E5D8F;
  	/* Safari 4-5, Chrome 1-9 */
  	background: -webkit-gradient(linear, left top, right top, from(#2E5D8F), to(#3A3A3A));
	/* Safari 5.1, Chrome 10+ */
  	background: -webkit-linear-gradient(left, #2E5D8F, #3A3A3A);
  	background: -webkit-gradient(linear, 11% 14%, 12% 14%, from(#2E5D8F), to(#3A3A3A));
    /* Firefox 3.6+ */
  	background: -moz-linear-gradient(left, #2E5D8F, #3A3A3A);
    /* IE 10 */
  	background: -ms-linear-gradient(left, #2E5D8F, #3A3A3A);
    /* Opera 11.10+ */
  	background: -o-linear-gradient(left, #2E5D8F, #3A3A3A);
}
.bg-gradient-9 {
	/* fallback */
  	background-color: #8B6CA1;
  	/* Safari 4-5, Chrome 1-9 */
  	background: -webkit-gradient(linear, left top, right top, from(#8B6CA1), to(#3A3A3A));
	/* Safari 5.1, Chrome 10+ */
  	background: -webkit-linear-gradient(left, #8B6CA1, #3A3A3A);
  	background: -webkit-gradient(linear, 11% 14%, 12% 14%, from(#8B6CA1), to(#3A3A3A));
    /* Firefox 3.6+ */
  	background: -moz-linear-gradient(left, #8B6CA1, #3A3A3A);
    /* IE 10 */
  	background: -ms-linear-gradient(left, #8B6CA1, #3A3A3A);
    /* Opera 11.10+ */
  	background: -o-linear-gradient(left, #8B6CA1, #3A3A3A);
}

/* Border Colors */

.border-color-1 {
	border: solid 1px #38924D;
}
.border-color-2 {
	border: solid 1px #9BAE3B;
}
.border-color-3 {
	border: solid 1px #daaf3c;
}
.border-color-4 {
	border: solid 1px  #D46936;
}
.border-color-5 {
	border: solid 1px #CE3C2F;
}
.border-color-6 {
	border: solid 1px #316F70;
}
.border-color-7 {
	border: solid 1px #5FADB3;
}
.border-color-8 {
	border: solid 1px #2E5D8F;
}
.border-color-9 {
	border: solid 1px #8B6CA1;
}

/* Font Colors */

.color-1 {
	color: #38924D;
}
.color-2 {
	color: #9BAE3B;
}
.color-3 {
	color: #daaf3c;
}
.color-4 {
	color: #D46936;
}
.color-5 {
	color: #CE3C2F;
}
.color-6 {
	color: #316F70;
}
.color-7 {
	color: #5FADB3;
}
.color-8 {
	color: #2E5D8F;
}
.color-9 {
	color: #8B6CA1;
}

/* Sidebar Navigation Hover
-------------------------------------------------------------- */

/* Hover Reset */

.sidebar-nav .nav-list li a:hover {
	background: inherit;
	background-color: inherit;
}

/* Gradient Hover */

.bg-gradient-1:hover {
	/* Safari 5.1, Chrome 10+ */
  	background: -webkit-gradient(linear, 11% 14%, 11% 14%, from(#38924D), to(#3A3A3A));
}

.bg-gradient-2:hover {
	/* Safari 5.1, Chrome 10+ */
  	background: -webkit-gradient(linear, 11% 14%, 11% 14%, from(#9BAE3B), to(#3A3A3A));
}

.bg-gradient-3:hover {
	/* Safari 5.1, Chrome 10+ */
  	background: -webkit-gradient(linear, 11% 14%, 11% 14%, from(#daaf3c), to(#3A3A3A));
}

.bg-gradient-4:hover {
	/* Safari 5.1, Chrome 10+ */
  	background: -webkit-gradient(linear, 11% 14%, 11% 14%, from(#D46936), to(#3A3A3A));
}

.bg-gradient-5:hover {
	/* Safari 5.1, Chrome 10+ */
  	background: -webkit-gradient(linear, 11% 14%, 11% 14%, from(#CE3C2F), to(#3A3A3A));
}

.bg-gradient-6:hover {
	/* Safari 5.1, Chrome 10+ */
  	background: -webkit-gradient(linear, 11% 14%, 11% 14%, from(#316F70), to(#3A3A3A));
}

.bg-gradient-7:hover {
	/* Safari 5.1, Chrome 10+ */
  	background: -webkit-gradient(linear, 11% 14%, 11% 14%, from(#5FADB3), to(#3A3A3A));
}

.bg-gradient-8:hover {
	/* Safari 5.1, Chrome 10+ */
  	background: -webkit-gradient(linear, 11% 14%, 11% 14%, from(#2E5D8F), to(#3A3A3A));
}

.bg-gradient-9:hover {
	/* Safari 5.1, Chrome 10+ */
  	background: -webkit-gradient(linear, 11% 14%, 11% 14%, from(#8B6CA1), to(#3A3A3A));
}

/* Nav Hover */

ul.nav-list li.bg-gradient-1 a:hover {
	background-color: rgb(51,51,51); /* IE Fallback */
	background-color: rgba(51,51,51,0.1);
}

.modal-backdrop {
    background: none;
}
/* =Person modal
-------------------------------------------------------------- */
.person .modal {
    color: #222;
    padding: 20px;
}

/* =Media queries
-------------------------------------------------------------- */

/* Minimum width of 480 pixels. */
@media screen and (min-width: 480px) {
	body {
		padding: 0 0 40px;
	}
	.menu-toggle {
		display: none;
	}
}

/* Minimum width of 600 pixels. */
@media screen and (min-width: 600px) {

}

/* Maximum width of 767 pixels. */
@media screen and (max-width: 767px) {
	.container-fluid {
		padding-left: 20px;
		padding-right: 20px;
	}
}

/* Minimum width of 960 pixels. */
@media screen and (min-width: 960px) {
}

/* Maximum width of 979 pixels. */
@media screen and (max-width: 979px) {
	body {
		padding: 20px 0px 40px;
	}
}

/* =Print
 ----------------------------------------------- */

@media print {
}

/* Assistive text */
.skip-link, .screen-reader-text, .assistive-text {
	position: absolute !important;
	clip: rect(1px, 1px, 1px, 1px);
}

/* =IE 7 and 8
 ----------------------------------------------- */

.ie .skip-link, .ie .screen-reader-text, .ie .assistive-text {
	clip: rect(1px 1px 1px 1px); /* IE7 */
}
.ie .site {
	margin: 48px auto;
	max-width: 960px;
}
.ie .site-content {
	float: left;
	width: 65.104166667%;
}
.ie .full-width .site-content {
	float: none;
	width: 100%;
}
.ie .widget-area {
	float: right;
	width: 26.041666667%;
}
.ie img.size-full, .ie img.size-large, .ie img.header-image, .ie img.wp-post-image {
	width: auto; /* Prevent stretching of full-size and large-size images with height
	 * and width attributes in IE8 */
}