[submodule "wp"]
	path = wp
	url = https://github.com/WordPress/WordPress.git
[submodule "content/themes/create/core"]
	path = content/themes/create/core
	url = https://github.com/justintadlock/hybrid-core.git
[submodule "content/themes/create"]
	path = content/themes/create
	url = https://github.com/Villag/create-theme.git
[submodule "content/plugins/create"]
	path = content/plugins/create
	url = https://github.com/Villag/create-plugin.git
